* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 40px;
    margin-bottom: 0px;
}

.subheading {
    font-size: 1.25rem;
    color: #D5D4D8;
    margin-bottom: 1.5em;
}

.container {
    /* border: 1px red solid; */
    margin: 50px auto;
    max-width: 750px;
    padding: 0 1.5em;
}

.lime-green {
    color: #34D399;
}

button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;

    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #fff;
    border: none;
}

.divider {
    border: 1px solid #2F3E53;
    margin: 20px auto;
}

.password-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
}

.password-text {
    color: #55F991;
    text-align: center;
    margin: 5px 15px;
    border: none;
    background: #273549;
    border-radius: 6px;
    min-width: 250px;
    min-height: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    height: 3px;
    background: #10B981;
    outline: none;
}